<mat-sidenav-container class="container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side" [opened]="isSidenavOpened">
    <!-- Side Nav Content -->
  </mat-sidenav>

  <!-- Main Content -->
 <div class="main-content">
    <!-- Bubble Icon -->
    <div class="bubble-icon">
      <span class="bubble-number">Total Branches: {{ filteredBranches.length }}</span>
    </div>

    <!-- Rectangle with Table -->
    <div class="rectangle">
      <h2>Branches</h2>
      <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search by branch name" class="search-input">
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>District</th>
            <th>Address</th>
            <th>Org Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of filteredBranches; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ branch.name }}</td>
            <td>{{ branch.state }}</td>
            <td>{{ branch.district }}</td>
            <td>{{ branch.address }}</td>
            <td>{{ branch.organization }}</td>
            <td>
              <button mat-icon-button *ngIf="canPerformAction('edit')" (click)="editBranch(i)">
               <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button *ngIf="canPerformAction('delete')" (click)="removeBranch(i)">
               <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>
  
    <!-- Bubble Button -->
    <div class="bubble-button" *ngIf="canPerformAction('add')" (click)="openAddBranchForm()">
      <span class="plus-sign">+</span>
      Add Branch
    </div>
  
    <!-- Add Branch Form (Initially Hidden) -->
    <div class="modal" *ngIf="showAddBranchForm">
      <div class="modal-content">
        <span class="close" (click)="closeAddBranchForm()">&times;</span>
        <div class="form-container">
          <h2>Add Branch</h2>
          <form [formGroup]="addBranchForm" (submit)="saveBranch()">
            <div class="form-row">
              <div class="form-group">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" formControlName="name" class="form-control">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                  <label for="inputState">State:</label>
                  <select id="inputState" class="form-select" formControlName="state" (change)="updateDistricts($event.target.value)">
                    <option value="" disabled selected>Select State</option>
                    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                   </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="district">District:</label>
                  <select id="district" formControlName="district" class="form-select">
                    <option value="" disabled selected>Select District</option>
                    <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
                   </select>
                   </div>
              </div>
            <div class="form-row">
              <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" formControlName="address" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="organization">Organization:</label>
                <select id="organization" formControlName="organization" class="form-select">
                  <option value="" disabled selected>Select Organization</option>
                  <option *ngFor="let org of orgData" [value]="org?.name">{{ org?.name }}</option>
                </select>
              </div>
            </div>
            <!-- Save button -->
            <button type="submit" [disabled]="addBranchForm.invalid">Save</button>
          </form>
        </div>
      </div>
    </div>
  
    <div class="modal" *ngIf="showEditBranchForm">
        <div class="modal-content">
          <span class="close" (click)="closeEditBranchForm()">&times;</span>
          <div class="form-container">
            <h2>Edit Branch</h2>
            <form [formGroup]="editBranchForm" (submit)="saveEditedBranch()">
              <div class="form-row">
                <div class="form-group">
                  <label for="name" class="form-label">Name:</label>
                  <input type="text" id="name" formControlName="name" class="form-control">
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group">
                    <label for="State">State:</label>
                    <select id="inputState" class="form-select" formControlName="state" (change)="updateDistricts($event.target.value)">
                        <option value="" disabled selected>Select State</option>
                        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                       </select>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                      <label for="district">District:</label>
                      <select id="district" formControlName="district" class="form-select">
                        <option value="" disabled selected>Select District</option>
                        <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
                       </select>
                    </div>
                  </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="address">Address:</label>
                  <input type="text" id="address" formControlName="address" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="organization">Organization:</label>
                  <select id="organization" formControlName="organization" class="form-select">
                    <option value="" disabled selected>Select Organization</option>
                    <option *ngFor="let org of orgData" [value]="org?.name">{{ org?.name }}</option>
                  </select>
                </div>
              </div>
              <!-- Save button -->
              <button type="submit" [disabled]="editBranchForm.invalid">Save</button>
            </form>
          </div>
        </div>
      </div>
    

</mat-sidenav-container>